<c-card class="mb-4">
    <c-card-header class="d-flex justify-content-between align-items-center">
      <span>Lista de roles</span>
      <!-- <button [cModalToggle]="categoriasModal.id" cButton class="btn btn-primary" (click)="abrirModalNuevo()">
        Agregar categoría
      </button> -->
    </c-card-header>
      <c-card-body>
            <table id="rolesTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">

        </table>
      </c-card-body>
    </c-card>