<c-card class="mb-4">
    <c-card-header class="d-flex justify-content-between align-items-center">
      <span>Lista de categorías</span>
      <button [cModalToggle]="categoriasModal.id" cButton class="btn btn-primary" (click)="abrirModalNuevo()">
        Agregar categoría
      </button>
    </c-card-header>
      <c-card-body>
        <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"> -->
          <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"> -->
            <table id="categoriasTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">

        </table>
      </c-card-body>
    </c-card>
    <button class="btn btn-primary" (click)="recargarTabla()">Recargar Tabla</button>
    
    

    

    
    
    
    
    <c-modal #categoriasModal backdrop="static" alignment="center" id="categoriasModal" [visible]="visibleModal" (visibleChange)="handleLiveDemoChange($event)">
      <c-modal-header>
        <h5 #modalTitulo cModalTitle>Nueva categoría</h5>
        <button #cerrarModal [cModalToggle]="categoriasModal.id" cButtonClose></button>
      </c-modal-header>
      
    
      <c-modal-body>
        <!-- Asignamos un ID único al formulario -->
        <form [formGroup]="categoriaForm" (ngSubmit)="saveCategoria()" id="categoriaForm">
          <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="categoria" required>
            <div class="text-danger" *ngIf="categoriaForm.get('categoria')?.hasError('required') && categoriaForm.get('categoria')?.touched">
              <span>El nombre del categoria <strong>es obligatorio</strong></span>
            </div>
          </div>
    
          <div class="form-group mb-3">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" formControlName="descripcion" required>
            <div class="text-danger" *ngIf="categoriaForm.get('descripcion')?.hasError('required') && categoriaForm.get('descripcion')?.touched">
              <span>La ubicación del categoria <strong>es obligatoria</strong></span>
            </div>
          </div>
        </form>
      </c-modal-body>
    
      <c-modal-footer>
        <button [cModalToggle]="categoriasModal.id" cButton color="secondary">
          Cancelar
        </button>
        <!-- Este botón ahora envía el formulario -->
        <button #modalBtnAgregar cButton color="primary" [disabled]="categoriaForm.invalid" type="submit" form="categoriaForm">
          Agregar
        </button>
      </c-modal-footer>
    </c-modal>
  
  
    <c-toaster [placement]="position" class="p-3" position="fixed">
      <c-toast
        (timer)="onTimerChange($event)"
        (visibleChange)="onVisibleChange($event)"
        [visible]="visibleToast">
        <c-toast-header>
          <!-- <toast-sample-icon></toast-sample-icon> -->
          CoreUI for Angular
        </c-toast-header>
        <c-toast-body>
          <p>This is static toast message in a toaster</p>
          <!-- <c-progress thin>
            <c-progress-bar [value]="percentage"></c-progress-bar>
          </c-progress> -->
        </c-toast-body>
      </c-toast>
    </c-toaster>
    
    <button (click)="toggleToast()" cButton class="m-1">Send a toast</button>